.nav {
  width: 98%;
  height: 45px;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(247, 239, 239);
}
